{% extends "base_admin.html" %}
{% block content %}

<div class="card card-pad card-center">
  <h2>Cambiar contraseña</h2>

  <form method="POST">
    {% csrf_token %}

    <label class="label">Nueva contraseña</label>
    <input type="password" name="password" class="input" required>

    <label class="label">Confirmar contraseña</label>
    <input type="password" name="confirm" class="input" required>

    <button class="btn btn-primary btn-block mt-4">Guardar</button>
  </form>
</div>

{% endblock %}